<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Get Student</title>
    </head>
    <body>
        <h1>Get Student</h1>
        <form method="post" action="/student/getstudent">
                <input type="text" name="FirstName" />
                <input type="submit" />
        </form> 
        @if ( ViewBag.studentFound != null ) {
        <h2>Result: @ViewBag.studentFound.FirstName
            @ViewBag.studentFound.LastName,  @ViewBag.studentFound.Age </h2>
        }
    </body>
</html>